body{
	/*
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	*/
	background: url("../img/bg5.jpg") top right no-repeat, url(../img/background.jpg);
	background-size: 500px;
	font-size: 20px;
}

h2{
	color: #177;
}

.menu_main{
	width: 300px;
	background: rgba(10, 180, 30, 0.5);
	padding: 30px;
	box-shadow: 10px 10px 20px #222;
	text-decoration: none;
}
.menu_2{
	width: 300px;
	background: linear-gradient(45deg, #f90, #C5DDE8);
	margin: 50px;
	box-shadow: 10px 10px 20px #222;
	border: 3px solid rgba(10, 180, 30, 0.5);
}

a{
	color: #fff;
	text-decoration: none;
}
#some-item{
	border-bottom: 3px solid #f90;
}
.paragraph_class{
	color: #177;
	font-size: 0.75em;
}

.flex-container {
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.flex-container .flex-item{
	height: 100px;
	width: 100px;
	background: green;
	margin: 5px 5px;
}

.positioning-test {
	position: absolute;
	background: red;
}

.gallery-row img{
	width: 250px;
	margin: 10px;
	transition: transform 0.5s;
}

.gallery-row img:hover{
	transform: scale(1.1);
}

.gallery-item{
	text-align: center;
	background: blue;
	margin: 5px;
}

.gallery-1{
	overflow: hidden;
}

.gallery-1 .gallery-item{
	float: left;
}

.gallery-2{
	text-align: center;
}

.gallery2-item {
	display:inline-block;
	background: blue;
	margin: 5px;
	vertical-align: top;
}

.gallery-3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gallery3-item {
	background: blue;
	margin: 5px;
}

.html5{
	font-family: roboto;
	font-size: 20px;
}

.menu_main a:hover{
	color: red;
	transition: 0.5s;
}

.menu_main a:active{
	color: red;
}
.video{
	display: block;
	width: 300px;
}