body{
	background-color: gray;
}

.container{
	max-width: 980px;
	margin: 0 auto;
}

ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

ul li{
	width: 50px;
	background-color: #fff;
	padding: 15px 0;
}

.block{
	margin: 30px auto;
}

.block p{
	text-align: center;
	margin: 10px 0;
	font-size: 20px;
}

.element-1 li:last-child{
	background-color: red;
}

.element-1 li:nth-child(2){
	background-color: green;
}

.block-2 ul:first-child{
	background-color: black;
}

.element-3 li:nth-last-child(2){
	background-color: red;
}

.block-1 ul:first-of-type{
	background-color: #000;
}