* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #e2e7ec;
}

.container{
	width: 95%;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
}

.left, .right{
	box-sizing: border-box;
}

.left{
	background-color: #f00;
	padding: 20px;
	margin-right: 30px;
	flex-basis: calc(100% - 300px - 30px);
}

.right{
	background-color: #0f0;
	padding: 20px;
	flex-basis: 300px;
	flex-shrink: 0;
}