* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	background-color: #e2e7ec;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 980px;
	margin: 0 auto;
}

.block{
	width: 45%;
	margin: 20px 0;
	border: 5px solid red;
	box-sizing: border-box;
	max-width: 400px;
}

.block img{
	max-width: 100%;
	display: block;
}
.one img{
	/* filter: brightness(1.4); */
	filter: saturate(0) hue-rotate(90deg);
}

.two img{
	/* filter: contrast(0.5); */
	filter: invert(40%);
}
.three img{
	/* filter: grayscale(1); */
	filter: opacity(0.8);
}

.four img{
	/* filter: sepia(50%); */
	filter: blur(5px);
}

.five img{
	filter: drop-shadow(5px 5px 15px #f00);
}

