body{
	background-color: white;
}

.container{
	max-width: 980px;
	margin: 0 auto;
}

.transform-3d{
	perspective: 500px;
}

[class^='block-']{
	width: 150px;
	height: 150px;
	border: 2px solid #000;
	background-color: green;
	margin: 100px auto;
}

.block-1{
	/* transform: translate3d(0, 0, 50px); */
	transform: rotateX(30deg);
	perspective-origin: 0px 0px;
}

.block-2{
	background-color: red;
	/* transform: rotateY(45deg) rotateZ(20deg); */
	transform: rotateY(40deg) translateZ(100px);
}

.block-3{
	background-color: blue;
	transform: scale3d(1, 1, 1.3);
}






