@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');
@import 'fonts.css';

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	background-color: #e2e7ec;
}

.container{
	margin: 20px;
	
}

p{
	font-family: bodoni;
}