body {
    margin-top: 100px;
    background: #aaa;
}

#wrapper {
    width: 400px;
    height: 400px;
    background: rgba(112, 112, 112, 0.5);
    margin: 0 auto;
	position: relative;
}

#header{
    width: 200px;
    height: 200px;
    background: #ff0;
}

#menu{
    width: 100px;
    height: 100px;
    background: #00f;
	position: absolute;
	bottom: 0;
	right: 0;
}

#footer{
	width: 100px;
	height: 100px;
	background: #f90;
}